{% extends 'web/base.html' %}

{% block title %}Añadir sensor{% endblock %}

{% block content %}
<div class="cajaRegistro">
<form method="post">
  {% csrf_token  %}
  {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <h2{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</h2>
        {% endfor %}
    </ul>
{% endif %}
    <p><label for="id_nombre">Nombre:</label> <input class="barraForm" type="text" name="nombre" maxlength="150" autofocus="" required="" id="id_nombre"> <span class="helptext"></span></p><ul><li>Requerido. 150 carácteres como máximo. Únicamente letras, dígitos y @/./+/-/_ </li></ul><p></p>
    <div class="cajaBotonRegistro">
      <button class="botonRegistro" type="submit">Guardar</button>
  </div>
</form>
</div>
{% endblock %}
