{% extends 'web/base.html' %}

{% block title %}Editar datos del usuario{% endblock %}

{% load widget_tweaks %}

{% block content %}
<div class="cajaRegistro">

  <form method="post">
  {% csrf_token  %}
  <p><b>Contraseña antigua:</b></p>
  <p>{{ form.old_password|add_class:"barraForm" }}</p>
  <p><b>Contraseña nueva:</b></p>
  <p>{{ form.new_password1|add_class:"barraForm" }}</p>
  <p><b>Contraseña nueva (confirmación):</b></p>
  <p >{{ form.new_password2|add_class:"barraForm" }}</p>


  <div class="cajaBotonRegistro">
      <button class="botonRegistro" type="submit">Guardar</button>
  </div>

  </form>

</div>
{% endblock %}
