<!DOCTYPE html>
<html lang="en">
<head>
        <title>DomoTIOT Web</title>
        <link rel='shortcut icon' href='https://images.vexels.com/media/users/3/157563/isolated/preview/5a46848ab4df7b9cbf90d7dd73c4a855-casa-simple-silueta-negra-by-vexels.png'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
    </head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>