.page-header {
    background-color: #131D40;
    margin-top: 0;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #26ABDC;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

.caja {
  font-size: 18px;
  font-weight: 400;
  background: #889ccf;
  margin: 0 0 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #131D40;
  text-align: center;
}


.sidebar {
  position: static;
  width: 25%;
  height: 100vh;
  background: #131D40;
  font-size: 36pt;
}

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  font-weight: normal;
}

