#main-header {
    background: #333;
  	color: white;
  	height: 80px;

  	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
  	left: 0; /* Posicionamos la cabecera al lado izquierdo */
  	top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}
#main-header a {
		color: white;
}
/*
 * Logo
 */
#logo-header {
  font-family: 'Sunflower', sans-serif;
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}

	#logo-header .site-name {
    font-family: 'Sunflower', sans-serif;
		display: block;
		font-weight: 700;
		font-size: 2em;
	}

	#logo-header .site-desc {
    font-family: 'Sunflower', sans-serif;
		display: block;
		font-weight: 300;
		font-size: 1em;
		color: #999;
	}
/*
 * Navegación
 */
nav {
	float: right;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  display: block;
  padding: 0 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background: #0b76a6;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2;
	font-size: 2em;
	line-height: 1.5em;
	padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

.bienvenido {
  font-size: 34pt;
  margin-top: 150px;
  text-align: center;
  font-family: 'Sunflower', sans-serif;
}


.caja {
  width:35%;
  height:10%;
  font-size: 30pt;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: 'Sunflower', sans-serif;
}

.caja h2 a{
    font-family: 'Sunflower', sans-serif;
}

.temperatura {
  width:35%;
  height:10%;
  font-size: 30pt;
  font-weight: 400;
  background: #ffffff;
  margin: 25px 25px 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  font-family: 'Sunflower', sans-serif;
  float: left;
}

.aire {
  width:35%;
  height:10%;
  font-size: 30pt;
  font-weight: 400;
  background: #ffffff;
  margin: 25px 25px 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  font-family: 'Sunflower', sans-serif;
  float: right;
}

.luz {
  width:35%;
  height:10%;
  font-size: 30pt;
  font-weight: 400;
  background: #ffffff;
  margin: 25px 25px 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  font-family: 'Sunflower', sans-serif;
  float: left;
}

.puerta {
  width:35%;
  height:10%;
  font-size: 30pt;
  font-weight: 400;
  background: #ffffff;
  margin: 25px 25px 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  font-family: 'Sunflower', sans-serif;
  float: right;
}

.luces {
  width:35%;
  height:10%;
  font-size: 30pt;
  font-weight: 400;
  background: #ffffff;
  margin: 25px 25px 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  font-family: 'Sunflower', sans-serif;
  float: left;
}

.rfid {
  width:35%;
  height:10%;
  font-size: 30pt;
  font-weight: 400;
  background: #ffffff;
  margin: 25px 25px 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  font-family: 'Sunflower', sans-serif;
  float: right;
}

.nuevoSensor {
  width:22%;
  font-size: 30pt;
  font-weight: 400;
  background: #ffffff;
  margin: 1100px 25px 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  font-family: 'Sunflower', sans-serif;
  position: absolute;
  float: left;
}

.eliminaSensor {
  width:22%;
  font-size: 30pt;
  font-weight: 400;
  background: #ffffff;
  margin: 1200px 25px 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  text-align: center;
  -webkit-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  -moz-box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  box-shadow: 7px 7px 14px 2px rgba(0,0,0,0.65);
  font-family: 'Sunflower', sans-serif;
  position: absolute;
  float: left;
}

.hora {
  width:30%;
  font-size: 38pt;
  margin: 1125px 67% 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Sunflower', sans-serif;
  position: absolute;
  float: right;
}

.fecha {
  width:30%;
  font-size: 38pt;
  margin: 1225px 67% 25px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-family: 'Sunflower', sans-serif;
  position: absolute;
  float: right;
}

.cajaTitle {
  width:100%;
  height:100%;
  font-size:10pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 100px;
  font-family: 'Sunflower', sans-serif;
}

.cajaInicio{
  padding-bottom: 20px;
}

.cajaTitle p{
  color:#000000;
  font-weight: bold;
  font-size: 80pt;
}

.cajaInicio {
  width:60%;
  height:100%;
  font-size: 42pt;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Sunflower', sans-serif;
}

.cajaBoton {
  width:60%;
  height:100%;
  font-size: 42pt;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Sunflower', sans-serif;
}

.cajaRegistro {
  width:40%;
  height:100%;
  font-size: 18pt;
  font-weight: 400;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Sunflower', sans-serif;
}

.cajaBotonRegistro {
  width:100%;
  height:100%;
  text-align: center;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Sunflower', sans-serif;
}

.botonRegistro{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 22pt;
    color: #ffffff;
    background-color: #4488C5;
    border-radius: 6px;
    border: 2px solid #0016b0;
    font-family: 'Sunflower', sans-serif;
}

.botonRegistro:hover{
    color: #1883ba;
    background-color: #ffffff;
}

.barraForm{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 34pt;
    color: #ffffff;
    background-color: #4488C5;
    border-radius: 6px;
    border: 2px solid #0016b0;
    font-family: 'Sunflower', sans-serif;
}

.boton:hover{
    color: #1883ba;
    background-color: #ffffff;
}

.cajaLogin {
  width:40%;
  height:50%;
  font-size: 22pt;
  font-weight: 400;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Sunflower', sans-serif;
}

.cajaUserDetail {
  width:45%;
  height:100%;
  font-size: 18pt;
  font-weight: 400;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Sunflower', sans-serif;
  border: 2.5px solid #333;
  border-radius: 6px;
}

.cajaBotonUser {
  width:60%;
  height:100%;
  font-size: 42pt;
  font-weight: 400;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: auto;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-family: 'Sunflower', sans-serif;
}

.botonUser{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 24pt;
    color: #ffffff;
    background-color: #4488C5;
    border-radius: 6px;
    border: 2px solid #0016b0;
    font-family: 'Sunflower', sans-serif;
}


#main-footer {
  font-family: 'Sunflower', sans-serif;
	background: #333;
	color: white;
	text-align: center;

	margin-top: 1365px;
  padding: 25px;
}
#main-footer p {
		margin: 0;
}
#main-footer a {
		color: white;
}
