{% extends 'web/base.html' %}
{% block content %}
        <div class="caja">
              <h3>DomoTIoT es una aplicación desarrollada por Borja Garrido Carmona para el trabajo fin de grado
                "DomoTIoT: Sistema Inteligente de Domótica Basado en el Protocolo MQTT y Microcontrolador ESP8266"</h3>
              <h3>El trabajo fin de grado ha sido tutelado por: Prof. D. José Manuel Soto Hidalgo y Prof. D. Juan Carlos Gámez Granados</h3>
              <h3>Es un proyecto realizado en la Universidad de Córdoba. Grado en Ingeniería Informática</h3>
        </div>
{% endblock %}
