{% extends 'web/base.html' %}
{% block content %}
        <div class="caja">
              <h1>DomoTIoT es una aplicación desarrollada por Borja Garrido Carmona para el trabajo fin de grado
                "DomoTIoT: Sistema Inteligente de Domótica Basado en el Protocolo MQTT y Microcontrolador ESP8266"</h1>
            <h1>El trabajo fin de grado ha sido tutelado por: Prof. D. José Manuel Soto Hidalgo y Prof. D. Juan Carlos Gámez Granados</h1>
              <h1>Es un proyecto realizado en la Universidad de Córdoba. Grado en Ingeniería Informática</h1>
        </div>
{% endblock %}
