<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Humedad Alta</title>
</head>
<body style="background-color: white ">

<!--Copia desde aquí-->
<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
		<td style="background-color: #ecf0f1">
			<div style="color: #34495e; margin: 4% 10% 2%; text-align: justify;font-family: sans-serif">
				<h2 style="color: #e67e22; margin: 0 0 7px; text-align: center">¡Hola {{ username}}!</h2>
				<p style="margin: 2px; font-size: 15px; text-align: center">
					¡Aviso!. Humedad alta en el sistema. Compruebe el estado de su hogar y del sensor
					de humedad y temperatura. Registro de incidencia: 
				</p>
				<ul style="font-size: 15px;  margin: 10px 0">
					<li>Fecha: {{ fecha }}</li>
					<li>Hora: {{ hora }}</li>
					<li>Humedad: {{ humedad }}%</li>
				</ul>
				<br>
				<div style="width: 100%; text-align: center">
					<a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #3498db" href="">DomoTIoT</a>	
				</div>
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">&copy; 2019</p>
			</div>
		</td>
	</tr>
</table>
<!--hasta aquí-->

</body>


