{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>DomoTIoT</title>
        <link rel='shortcut icon' href='https://images.vexels.com/media/users/3/157563/isolated/preview/5a46848ab4df7b9cbf90d7dd73c4a855-casa-simple-silueta-negra-by-vexels.png'>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
    </head>
    <body>
        <div class="page-header">
            <h1><a href=""><b>DomoTIoT: Tu casa domotizada</b></a></h1>
        </div>
        <main class="main">
          <aside class="sidebar">
            <nav class="nav">
                <p><a href="#"><b>Welcome</b></a></p>
                <p><a href="/"><b>Who We Are</b></a></p>
                <p><a href="/"><b>What We Do</b></a></p>
                <p><a href="/"><b>Get In Touch</b></a></p>
            </nav>
          </aside>
        <div class="caja">
            <span><h2><a href="">Temperatura y humedad</a></h2>
        </div>

        <div class="caja">
            <h2><a href="">Calidad del aire</a></h2>
        </div>

        <div class="caja">
            <h2><a href="">RFID</a></h2>
        </div>

        <div class="caja">
            <h2><a href="">Nivel de Luz</a></h2>
        </div>

        <div class="caja">
            <h2><a href="">Estado de Puertas</a></h2>
        </div>

        <div class="caja">
            <h2><a href="">Luces</a></h2>
        </div>
    </body>
</html>