{% extends 'web/base.html' %}

{% block title %}Editar datos del sensor RFID{% endblock %}

{% load widget_tweaks %}

{% block content %}
<div class="cajaRegistro">

  <form method="post">
  {% csrf_token  %}
    <p><b>Nombre:</b></p>
    <p>{{ form.nombre|add_class:"barraForm" }}</p>
    <p><b>Descripcion:</b></p>
    <p>{{ form.descripcion|add_class:"barraForm" }}</p>
    <p><b>Topic:</b></p>
    <p >{{ form.topic|add_class:"barraForm" }}</p>

    <div class="cajaBotonRegistro">
        <button class="botonRegistro" type="submit">Guardar</button>
    </div>
  </form>

</div>
{% endblock %}
